body {
  font-family: Arial, sans-serif;
  /* background-color: #f4f4f4; */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
html, body {
  background-color: #ffffff !important;
}
#home-page, #game-page {
  width: 100%;
  max-width: 600px;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
#how-to-play-page{
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1, h2 {
  font-size: 1.5em;
}
h1, h2, h3{
  font-family: 'Georgia', serif;
}
p, div, span, a, input, textarea, button{
  font-family: 'Poppins', sans-serif;
}
#score-panel {
  margin-top: 20px;
}

input {
  padding: 10px;
  margin: 10px;
  font-size: 1em;
  width: calc(100% - 40px);
  max-width: 500px;
}

button {
  padding: 10px 20px;
  background-color: #5cdb95;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
}

.football {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url('football.png'); /* Placeholder for football icon */
  background-size: cover;
  margin: 5px;
}

.attempts {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

.daily-release {
  margin-top: 40px;
  font-size: 0.9em;
  color: grey;
  text-align: center;
}
/* Add these to the bottom of your existing CSS */

#year-guess-page, #final-result {
  display: none;
  text-align: center;
  margin-top: 20px;
}

/* Add team color blocks styling */
.color-box {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 10px;
  border: 1px solid #000;
}

#how-to-play-page ul{
  padding-left: 30px;
}
#how-to-play-page ul li{
  list-style: circle;
}
.button-c{
  text-align: center;
}
#shortsIcon1 {
  display: inline-block;
  position: relative;
  top: -25px;
}
#shortsIcon2 {
  display: inline-block;
  position: relative;
  top: -25px;
}
#team2-color1, #team1-color1{
  padding-top: 15px;
}
.vs {
  position: relative;
  bottom: 70px;
  font-weight: bold;
}
.football-icon {
  text-align: left;
  font-size: 22px;
}
.correct-team{
  font-weight: bold;
}
#score-team1{
  display: inline-block;
}
#score-team2{
  display: inline-block;
}
.playbtn{
  text-align: center;
}
.submitbtn{
  padding-top: 20px;
  padding-bottom: 15px;
}
.share-btn {
  display: inline-flex; 
  align-items: center; 
  border: 1px solid red;
  border-radius: 10px;
  padding: 5px 10px;
  gap: 5px; /* Space between text and image */
  cursor: pointer;
}

.share-btn img {
  width: 20px; /* Adjust icon size */
  height: auto;
}
.share-btn a {
  text-decoration: none;
}
@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #ffffff !important;
    color: #000000 !important;
  }
}
@media only screen and (max-width: 767px) {
  body{
    display: block;
  }
  #home-page, #game-page{
    display: inline;
    padding: 20px;
  }
  #how-to-play-page{
    display: inline;
    padding: 20px;
  }
}
